body {
  background: rgb(0, 0, 0);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* Estilos do botão */
.neon {
  font-size: 64px;
  font-weight: 700;
  text-decoration: none;

  display: inline-block;
  color: rgb(17, 120, 255);
  padding: 16px 64px;
  border: rgb(17, 120, 255) 8px solid;
  border-radius: 16px;
  box-shadow: inset 0 0 32px 0 rgb(17, 120, 255), 0 0 32px 0 rgb(17, 120, 255);
  text-shadow: 0 0 2px hsl(0 0% 100% / 0.3), 0 0 32px;
  position: relative;
}

/* Reflexo do botão */
.neon::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;

  background: rgb(17, 120, 255);

  width: 100%;
  height: 100%;

  transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
  filter: blur(64px);
  opacity: 0.7;
  pointer-events: none;
}

.neon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 128px 32px rgb(17, 120, 255);
  opacity: 0;
  background-color: rgb(17, 120, 255);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon:hover::before,
.neon:hover::after {
  opacity: 1;
}

.neon:hover {
  color: #ffffff;
  text-shadow: none;
}

/* Efeito flutuante */
a {
  transform: translateY(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}